<% if current_user.present? %>
  <%= link_to "Add a link", new_link_path, :class => "btn btn-primary" %>
  <h3>Links <span class="label label-default">Popular</span></h3>
  <ul class="list-group">
    <%= render partial: 'link', collection: @popular_links, as: :link %>
  </ul>

  <h3>Links <span class="label label-default">New</span></h3>
  <ul class="list-group">
    <%= render partial: 'link', collection: @newest_links, as: :link %>
  </ul>
<% else %>
  <h2>Home Page</h2>
<% end %>