@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* header */

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;

    li {
      margin-bottom: 5px;
    }
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

a.arrow-up {
  color: #27AE60;
}

a.arrow-down {
  color: #D35400;
}